.title{
    font-size: 5rem;
    padding: 1rem;
    color: rgba(9,9,121,1);
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(56, 54, 54) 0%, rgba(255,255,255,1) 100%);
}

.time{
    font-size: 3rem;
    border: 1px solid #ffff;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}